# Exercise 1

(20 points) True or False.
(a) In class imbalanced classification tasks, the goal is to find the model that has the highest
accuracy. (True False)
(b) Over-fitting is the biggest issue with over-sampling. (True False)
(c) Under-fitting is the biggest issue with over-sampling. (True False)
(d) A model with a large number of input variables always have a good performance. (True
False)
(e) If we run the SMOTE sampling technique multiple times on an imbalanced dataset, we
will always obtain the same synthetic dataset. (True False)
(f) Replacing missing values with mean values will always boost model performance. (True
False)
(g) RFE works with any support vector machine model. (True False)
(h) RFE doesnâ€™t work with any support vector machine model. (True False)
(i) A typical approach to engineer features is to consider interactions because most interactions help models to generate good predictions. (True False)
(j) The support vectors in support vector machine models can be used to identify important
variables/features. (True False)

# Exercise 2

# Exercise 3

# Exercise 4

# Exercise 5

# Exercise 6

# Exercise 7

# Exercise 8

# Exercise 9

# Exercise 10

# Exercise 11

# Exercise 12

# Exercise 13

# Exercise 14

# Exercise 15

# Exercise 16

(a) (4 points) Using the pandas library, read the Customers.csv data file and create two
data-frames, called it customers.

In [ ]:
import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from scipy.stats import boxcox
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import classification_report
from sklearn.feature_selection import RFE, RFECV 
from sklearn.svm import SVR, SVC

#defining the bucket
s3 = boto3.resource('s3')
bucket_name = 'rachaeld-data445'
bucket = s3.Bucket(bucket_name)

#defining the csv file
file_key = 'Customers.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

customers = pd.read_csv(file_content_stream)
customers.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

(b) (3 points) Drop the Customer ID variable.